header,
nav,
main,
footer,
aside {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
}

#container {
  background-color: #eee;
  color: #006600;
  min-width: 960px;
  font-family: Verdana, Arial, sans-serif;
}

header {
  background-color: #636631;
  background-image: url(bg.png);
  background-position: bottom;
  background-repeat: repeat-x;
  height: 120px;
  color: #cc66cc;
  text-align: right;
  padding: 0 20px;
  border-bottom: 2px solid #000;
}

nav {
  float: left;
  width: 150px;
}

aside {
  float: right;
  width: 200px;
}

main {
  margin: 0 210px 0 160px;
  padding: 1px 10px 20px 10px;
  background-color: #fff;
  color: #060;
}

footer {
  font-size: 0.7em;
  text-align: center;
  color: #060;
  background-color: #fff;
  padding-top: 10px;
  clear: both;
}

h1 {
  margin-top: 0;
  font-size: 3em;
  text-align: left;
  text-shadow: 2px 2px 2px #000;
}

header a {
  font-size: 0.8em;
}

header a:link,
header a:visited {
  color: #fff;
}

header a:focus,
header a:hover {
  color: #eee;
}

nav ul {
  margin-top: 20px;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  font-size: 1.2em;
}

nav a:link {
  color: #060;
}

nav a:visited {
  color: #030;
}

nav a:focus,
nav a:hover {
  color: #c6c;
}

nav a:active {
  color: #000;
}

nav img {
  margin: 30px;
}

main p {
  margin: 20px;
}

main h2,
main h3 {
  color: #c6c;
  background-color: #fff;
}

.floatright {
  margin: 10px;
  float: right;
}

aside h3 {
  padding-bottom: 2px;
  border-bottom: 1px solid #000;
  margin: 10px;
  font-size: 0.9em;
  color: #c6c;
}

.news {
  font-size: 0.8em;
  margin: 10px;
}
