body {
  width: 370px;
  height: 600px;
}

header {
  text-align: center;
}

ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  float: left;
  width: 80px;
  border-right: solid 1px #000;
  text-align: center;
}

nav ul li.nav-last {
  border-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000;
}

nav ul li a:hover {
  color: #888;
}

nav ul li a.current {
  color: #4284f4;
}

footer {
  padding-top: 10px;
  font-size: 14px;
  height: 64px;
  background-color: #dbf1ff;
}

footer div {
  display: inline-block;
  float: left;
}

footer div.contact {
  padding-left: 12px;
}

footer div.copyright {
  text-align: right;
  padding: 20px 0 0 50px;
}
